
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background: #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input, .output {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  padding: 0px;
  border: 0px;
  color: #999; 
  padding: 10px 15px;
  position: relative;
}
.input { background-color: #fff; }
.output span { background-color: #fff;}
.output .number { color: #000; }
.input, .output { width: 100%; }
.unlocked { color: red; }
.output { margin-top: -43px;}
.input:focus { outline: none; }
.wrap { width: 800px; margin: 30px auto; }
#width-ruler { visibility: hidden; float: left; width: auto; }
.answer { position: absolute; top: 12px; }
.equation { position: relative; }

body.dragging, .variable { cursor: col-resize; }
